body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: #fff;
}

/* SIDEBAR */
.sidebar {
    width: 22%;
    background: #1c1c1c;
    height: 100vh;
    float: left;
    overflow-y: auto;
    padding: 15px;
}

.member {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.member img {
    width: 40px; height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

/* CHAT */
.chat-box {
    width: 78%;
    float: left;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

.msg {
    display: flex;
    margin-bottom: 15px;
}

.msg img {
    width: 45px; height: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-controls {
    display: flex;
    padding: 10px;
    background: #222;
}

.chat-controls input {
    flex: 1;
    margin: 0 8px;
    padding: 8px;
    border-radius: 8px;
    border: 0;
}

/* EMOJI PANEL */
.emoji-box {
    position: fixed;
    bottom: 70px;
    left: 30%;
    width: 40%;
    background: #222;
    padding: 10px;
    border-radius: 10px;
    display: none;
    grid-template-columns: repeat(10, 1fr);
    gap: 4px;
}

.emoji-box button {
    background: none;
    border: none;
    font-size: 20px;
}
